*
{
    overflow: inherit;
}
.mymodal{
 
    background-image: url('../Assets/data_img/background2.jpeg') ;
    padding-top: 57%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}

/* Main */
.modal__container {
    width: 100%;
    top: 0;
    position: fixed;
    padding-top: 180px;
    display: flex;
    justify-content: center;
    right: 0;
    left: 0
}
.modal__body{
    width: 416px;
    height: 426px;
    background-color: #ffffff;
    padding: 0 14px;

}
.modal__body-icon{
    display: flex;
    margin: auto;
}

.header{
    width: 100%;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background-color:#020104;
    
}
.img_header-icon{
    margin: 0 136px;
}
.header_img{
    width: 98px;
    height: 22px;
    justify-content: center;
    color: #212124;
    
}
.img-icon{
width:2px;
height: 2px;
}
.checkbox{
    margin-top: 2px;
}
.password{
    display: flex;
    border: 0.8px solid #ced4d9;
    border-radius: 4px;
    
}
#eye {
    background: #fff;
    color: #333;
    margin: 5.9px 0 0 0;
    margin-left: 15px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;
    
    cursor: pointer;
}
.form__login{
    width: 100%;
}
.form-text{
    padding: 0;
    
}
.form-text-title{
    font-size: 1.2rem;
    font-weight: 500;
    color: #212124;
    border: inherit;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
   

}
.form-cotrol-password{
 width: 346px;
 border: none;
}
.form_link{
    text-decoration:inherit;
    color: #036cac;
    margin-top: 16px ;
    
}
.form_link-password{
    padding: 0 120px;
}
.btn-outline-secondary{
  border: none;
}

.contact__agree{
    display: flex;

}
.contact__agree-title{
    font-size:1rem;
    color: #212124;
    font-weight: 400;
    justify-content: center;
}
.form-hr{
   margin-top: 18px;
}
.form_link-logup{
  padding: 0 30px;

}

/* Home */
.home-container {
    max-width: 1220px;
}

.home-header{
    /* height: 376px; */
    background-color:#000 ; 
    left: 0;
    position: fixed;
   
    top: 0;
    
    right: 0;
    
    z-index: 10;
   
}
.home-navbar {
    padding: 0;
    height: 50px;
}
.header-navbar{
    display: flex;
}
.img_header-navbar{
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1.2;
}
.navbar {
    flex:1;
}
.navbar__category {
    flex: 8;
}
.nav-item {
    margin-right: 16px;
    list-style: none;
}

.navbar__category-link {
    color: #fff;
}

.nav-item:hover .header-myself{
    display: block;
    color: #ababab;
}
.header-myself{
    position: absolute;
    width: 156px;
    background-color: #fff;
    transform-origin: top left;
    animation: headermyselfGrowth ease;
    display: none;
}
.header-myself::before
{
    content: "";
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 10px;
    top: -20px;
}
.header-myself-list{
    position: absolute;
    width: 156px; 
    background-color: #fff;
    animation: headermyselfGrowth ease;
    display: none;
  
}
.header-myself-list::before{
    content: "";
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 10px;
    top: -20px;
}
.nav-item:hover .header-myself-list{
    display: block;
}
.header-myself-link{
    text-decoration: none;
    color: #212124;
 
} 
.header-myself-print{
    width: 156px;
    background-color:#fff;
    position: absolute;
    animation: headermyselfGrowth ease;
    display: none;
}
.header-myself-print::before{
    content: "";
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 10px;
    top: -20px;
}
.nav-item:hover .header-myself-print
{
    display: block;
}
@keyframes headermyselfGrowth{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.navbar__search {
    flex: 4;
}


/* css CONTAINER */
.content-wrapper{ 
    background-color: #f2f5f6;
}


/* navbar */
.nav-link{
    color: #898989;
}
.content__poster-images{
    width:25% ;
    height: 25%;
}
.card{
  height: 200;
  width: 390;
    
}

/*  Blog Flick*/
.content__Blog-link{
    text-decoration: none;
    font-weight: 500;
    margin-top: 50px;
    
}

.content__Blog-link :hover{
    text-decoration:underline;
}
.content__group-btn{
    margin-bottom: 20px;
    margin-left: 100px;
}
.container-head{
    width: 100%;
    height: 200px;
}
.card-body{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.card-img-top-subribe{
    height: 200px;
    width:  360px;
}
.card-title{
    font-size: 1rem;
    margin: 0;
    height: 38px;
    line-height: 38px;
}
.card-button 
{
    width:114px;
    height: 38px;
    background-color: #128fdc;
    margin: 0 0 0 12px;
}


