*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body.html{
    /* background-image:url(/BTL/assets/data_img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;*/
    /* height: 100vh;   
    position: relative;
    overflow: scroll;
    width: 100%; */
    width: 100%;
    overflow-x: hidden;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}
.header{
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.header li .nav-link{
    color: white;
}
.bi-search{
    
}
.header .icon{
    color: white;
}
.body-personal{
    padding:0;
}
.slider{
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.03) 8%,rgba(0,0,0,.11) 21%,rgba(0,0,0,.61) 78%,rgba(0,0,0,.7) 95%,rgba(0,0,0,.7)),
    url(/BaiTapLon/Assets/data_img/img_slider.jpg);
    /* height: 500px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    box-sizing: border-box;
    z-index: 0;
    padding-top: 30%;
    /* width: 100%; */
    /* background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.03) 8%,rgba(0,0,0,.11) 21%,rgba(0,0,0,.61) 78%,rgba(0,0,0,.7) 95%,rgba(0,0,0,.7)); */
}
.item_slider{
    height: 500px;
}
.slider #avatar{
    /* z-index: 1; */
    background: url(/BaiTapLon/Assets/data_img);

}

.slider #p-avatar{
    width: 100px;
    height: 100px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    box-sizing: border-box;
}
.slider #p-avatar>#pen{
    display: none;
}

.slider #p-avatar:hover >#pen{
    display: block;
}
.slider #p-avatar:hover{
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.03) 8%,rgba(0,0,0,.11) 21%,rgba(0,0,0,.61) 78%,rgba(0,0,0,.7) 95%,rgba(0,0,0,.7)),
    url(/BaiTapLon/Assets/data_img/icon_edit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    box-sizing: border-box;
    
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* display: none; */
    background: rgba(0,0,0,0.3);
    /* z-index: 1;
    background-color: white;
    height: 700px;
    margin: 50px 100px;
    width: 80%; */
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    
}
.modal .modal-container{
    background-color: white ;
    height: 90%;
    width: 80%;
    max-width: calc(100%-100px);
}
.modal-container .modal-body>img{
    width: 20%;
}
.modal-container .modal-header ul{
    border-bottom: white solid;
}
.modal-container #js-modal-photostream:hover,
.modal-container #js-modal-albums:hover,
.modal-container #js-modal-update:hover{
    border-bottom: blue solid;
}
.modal-container #js-modal-photostream{
    border-bottom: blue solid;
}
.modal #js-album,
.modal #js-update,
.modal #js-photostream{
    display:none;
    /* border-bottom: blue solid; */
    /* background-color: chartreuse; */
}
.modal #js-update:target,
.modal #js-photostream:target,
.modal #js-album:target{
    display:block;
    /* border-bottom: blue solid; */
    /* background-color: chartreuse; */
}

.modal.openmodal{
    display: flex;
}

.modal #search-avt{
    /* width: ;     */
}

.edit >h2{
    /* line-height: 100px; */
    color: white;
}
.body-personal .navbar{
    /* display: inline-block; */
     height: 70px;
     width: 100%;
     
     /* box-sizing: border-box; */
}

nav li .subnav{
    /* border-bottom: white solid; */
}
nav li .js-subnav-add-border{
    border-bottom: blue solid;
}

/* nav li .subnav:checked , */
nav li .subnav:hover {
    /* background: blue; */
    /* border-style: solid; */
    border-bottom: blue solid;
    /* z-index: 2; */
    /* border-color: blue; */
}
.container-fluid{
    /* display: block; */
    /* height: 60px; */
    /* text-align: center; */
}
nav li .subnav{
    display: block;
    line-height: 60px;
    text-align: center;
}



/* css for about */
#about-view {
    box-sizing: border-box;
    /* display: none; */
}
#about-view .main{
    margin-left: 10%;
    margin-right: 10%;
}
/* #aboutyou>textarea {
    display: none;
    width: 100%;
    max-width: 100%;
    min-height: 200px;
} */

#about-view .write-about{
    display: none;
}
#about-view .write-about.opentxt {
    display: inline-block;;
}

/* #aboutyou div>#about ,
#aboutyou div>#save 
{
    display: none;
} */
.main a{
    color: rgb(102, 95, 95);
}
.main .showcase{
    background: url(/BaiTapLon/Assets/data_img/about_empty.jpg);
    /* background-image:url(/BTL/assets/data_img/about_empty.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 400px;
}
.status>a:hover{
    text-decoration: underline;
}

/* css for photostream */
.subnav-view div>ul{
    font-size: 13px;
}
.subnav-view{
    display: none;
}
.subnav-show{
    display: block;
}
.subnav-view:before{
    display: none;
}
.subnav-view:target{
    display: block;
}
#cameraroll-view div button>a,
#galleries-view div button>a,
.subnav-view div button>a{
    color: white;
    font-size: 20px;
}
.subnav-view .subnav-view-bg{
    background: url(/BaiTapLon/Assets/data_img/photostream_bg.jpg);
    /* background-image:url(/BTL/assets/data_img/about_empty.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 400px;
}



/* css for galleries */
.galleries-view-bg{
    background: url(/BaiTapLon/Assets/data_img/galleries_bg.jpg);
    /* background-image:url(/BTL/assets/data_img/about_empty.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 400px;
}





.footer{
    box-sizing: border-box;
    display: inline-block;
    background-color: black;
    color: white;
    /* height: 200px; */
    overflow: visible;
    width: 100%;
}
.footer div a{
    color: white;
}
.footer div a:hover{
    color: gray;
}
.footer .subFooter a{
    color: gray;
}
.footer .subFooter a:hover{
    color: white;
}
.footer select{
    background: none;
    border: none;
    color: white;
    /* width: 200px; */
}


/* Laptop */
@media (min-width: 1024px){
    .body-personal .slider .bt-avt{
        margin-bottom: 50px;
    }
    .body-personal .slider #bt-date{
        margin-bottom: 40px;
    }
    .modal .modal-header .bt-menu{
        display: none;
    }
    .bt-menu{
        position: relative;
    }
    .bt-subnav-modal{
        position: absolute;
        display:inline-block;
        /* background-color: gray; */
        /* margin-top: 230px; */
        z-index: 1;
        display: none;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
        background-color: white;
        
    }
    .bt-subnav-modal>li{
        /* background-color: white;
        width: 200px; */
        width: 200px;
    }
    .bt-subnav-modal>li>a{
        color: white;
    }
    .bt-subnav-modal>li{
        border: none;
    }
    .modal-container .bt-menu:hover .bt-subnav-modal{
        display: block;
        /* background-color: hotpink; */
    }
    .bt-subnav-modal .bt-subnav:hover{
        background-color: gainsboro;
        color: white;
        
    }
    .modal .modal-header .bt-menu{
        display: block;
    }

    
}

/* Mobile */
@media (max-width: 739px){
    .body-personal .slider #bt-date{
        display: none;
    }
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .body-personal .slider #bt-date{
        display: none;
    }
}

/* Mobile *//* Tablet */
@media (max-width: 1023px){
    html{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    .body-personal .slider #bt-date{
        display: none;
        padding-bottom: 20px;
    }
    .body-personal .slider .bt-avt{
        margin-bottom: 0px;
        margin-top: 20%;
    }
    .body-personal .nav-about{
        overflow-x: scroll;
    }
    .slider #p-avatar{
        /* width: 10%;
        height: 10%; */
    }
    .slider{
        height: 50%;
    }
    .body-personal .modal{
       height: 90%;
       /* overflow: hidden; */
    }
    .modal-container .modal-header{
        /* overflow-x: scroll; */
    }
    .modal-container .modal-header button{
        height: 10px;
    }
    .modal-container .modal-header>ul{
        /* display: block; */
        /* overflow-x: scroll; */
    }
    .modal-container .modal-header .bt-subnav-modal{
        /* display: none; */
        
    }
    /* .bt-modal{
       width: 20px;
       height: 20px;
       background-color: palevioletred;
    } */
    .bt-menu{
        position: relative;
    }
    .bt-subnav-modal{
        position: absolute;
        display:inline-block;
        /* background-color: gray; */
        /* margin-top: 230px; */
        z-index: 1;
        display: none;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
        background-color: white;
        
    }
    .bt-subnav-modal>li{
        /* background-color: white;
        width: 200px; */
        width: 200px;
    }
    .bt-subnav-modal>li>a{
        color: white;
    }
    .bt-subnav-modal>li{
        border: none;
    }
    .modal-container .bt-menu:hover .bt-subnav-modal{
        display: block;
        /* background-color: hotpink; */
    }
    .bt-subnav-modal .bt-subnav:hover{
        background-color: gainsboro;
        color: white;
        
    }
    .modal .modal-header .bt-menu{
        display: block;
    }


} 

