*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-image:url(/BTL/assets/data_img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;*/
    height: 100vh;   
    position: relative;
    overflow: scroll;
    width: 100%;
}
.header{
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.header li .nav-link{
    color: white;
}
.bi-search{
    
}
.header .icon{
    color: white;
}
.slider{
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.03) 8%,rgba(0,0,0,.11) 21%,rgba(0,0,0,.61) 78%,rgba(0,0,0,.7) 95%,rgba(0,0,0,.7)),
    url(/BaiTapLon/Assets/data_img/img_slider.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    box-sizing: border-box;
    z-index: 0;
    /* background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.03) 8%,rgba(0,0,0,.11) 21%,rgba(0,0,0,.61) 78%,rgba(0,0,0,.7) 95%,rgba(0,0,0,.7)); */
}
.item_slider{
    height: 500px;
}
.slider .edit{
    z-index: 1;
}
.edit>img{
    /* line-height: 100px; */
}
.edit>img:hover{
    
}
.edit >h1{
    /* line-height: 100px; */
    color: white;
}
.navbar{
    /* display: inline-block; */
     height: 70px;
     /* box-sizing: border-box; */
}
nav li .subnav:hover ,
nav li .subnav:checked {
    /* background: blue; */
    /* border-style: solid; */
    border-bottom: blue solid;
    /* z-index: 2; */
    /* border-color: blue; */
}
.container-fluid{
    /* display: block; */
    /* height: 60px; */
    /* text-align: center; */
}
nav li .subnav{
    display: block;
    line-height: 60px;
    text-align: center;
}

.footer{
    box-sizing: border-box;
    display: inline-block;
    background-color: black;
    color: white;
    /* height: 200px; */
    overflow: visible;
    width: 100%;
}
.footer div a{
    color: white;
}
.footer div a:hover{
    color: gray;
}
.footer .subFooter a{
    color: gray;
}
.footer .subFooter a:hover{
    color: white;
}
.footer select{
    background: none;
    border: none;
    color: white;
    /* width: 200px; */
}

/* css for about */
#about-view {
    box-sizing: border-box;
    /* display: none; */
}
#about-view .main{
    margin-left: 10%;
    margin-right: 10%;
}
#aboutyou>textarea {
    width: 100%;
}
#aboutyou div>#about ,
#aboutyou div>#save 
{
    display: none;
}
.main a{
    color: rgb(102, 95, 95);
}
.main .showcase{
    background: url(/BaiTapLon/Assets/data_img/about_empty.jpg);
    /* background-image:url(/BTL/assets/data_img/about_empty.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 400px;
}
.status>a:hover{
    text-decoration: underline;
}

/* css for photostream */
#photostream-view div>ul{
    font-size: 13px;
}

#photostream-view div button>a{
    color: white;
    font-size: 20px;
}
/* .subnav> a{
    text-decoration: none;
    color: black;
}
.subnav li>a{
    color: black;
    text-decoration: none;
} */

/* .subnav>ul{
    display: none;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
} */

/* .subnav>a>i:hover .subnav-down{   
    font-size: 20px;
    display: block;  
    background-color: pink;
} */